<div class="container mx-auto pt-22">
    <img
      src="/assets/images/image.png"
      alt="image.png"
      class="terminal-ssh-image mx-auto w-1/2 h-auto rounded-lg shadow-lg mb-10"
    />
    <div class="text-center">
      <p class="text-2xl font-bold text-gray-500 mb-4">
        If you're too lazy to buy coffee on ssh, then this is the place for you!
        hehehehehe....
      </p>

      <LinkTo
        @route="coffees"
        class="bg-amber-500 hover:bg-amber-600 text-gray-900 font-semibold px-4 py-2 rounded-md transition"
      >
        Order Coffee
      </LinkTo>
    </div>
  </div>